[submodule "RinDB_web"]
	path = Karuta/RinDB_web
	url = https://github.com/TheDarkVoid/RinDB_web
[submodule "Karuta/RinDB_web"]
	path = Karuta/RinDB_web
	url = https://github.com/TheDarkVoid/RinDB_web
