#subtitle
{
	color: #fff;
}

.panel
{
	background-color: #333;
	box-shadow: 0px 5px 5px #000;
}

body
{
	background-color: #222;
	color: #FFF;
}

a.imageCard
{
	box-shadow: 0px 5px 5px #111;
	background-color: #333;
}

.imageCard .image
{
	background-color: #000;
}

.imageCard .name
{
	color: #fff;
}

.imageCard:hover
{
	box-shadow: 0px 5px 8px #000;
}

#advancedSearch .inputArea
{
	color: #fff;
}

#searchWrap #advancedSearchButton
{
	border-right: 15px solid #fff;
}

#searchWrap input[type="search" i]
{
	-webkit-appearance:texfield;
	border: 1px solid #000;
	background-color: #222;
	color: #ddd;
}

#search input[type="search" i]:hover
{
	border: 1px solid #ff0064;
	color: #fff;
}

#search input[type="search" i]:selected
{
	border: 1px solid #ff0064;
	color: #fff;
}

#search input[type="search" i]:focus
{
	border: 1px solid #ff0064;
	color: #fff;
}

::-webkit-scrollbar
{
	background-color: #444;
}

#imageContent #description
{
	color: #fff;
}

#imageContent #imageName
{
	color: #fff;
}
#imageContent #related
{
	color: #fff;
}

.tag
{
	background-color: #222;
	border: 1px solid #444;
}

.tag:hover
{
	background-color: #444;
}

#tagDescription
{
	background-color: #444;
}

.searching
{
	color:#fff;
}

a:hover
{
	color: #fff;
}

/*login from*/

#windowArea #loginWindow
{
	background-color: #333;
	box-shadow: 0px 4px 8px rgba(0,0,0,.4);
}

#loginForm input
{
	color: #fff;
	background-color: #222;
	border: 1px solid #000;
}

#loginForm input:hover
{
	border: 1px solid #ff0064;
}

#loginForm input[type="submit" i]
{
	background-color: #222;
	border: 1px solid #000;
}

#loginForm input[type="submit" i]:hover
{
	color: #ff0064;
	background-color: #333;
	border: 1px solid #ff0064;
}

#loginForm label
{
	color: #ff0064;
}

/*Widgets */

.widgetDisplay .widget
{
	background-color: #333;
	border: 1px solid #000;
}

.widget .name
{
	
}

.widget .value
{
	background: #222;
}

/*user profile*/
#User #Profile
{
	background-color: #222;
	border: 1px solid #333;
}

#User #Profile img
{
	background-color: #222;
}