#Header
{
	top: 0px;
	left: 0px;
	height: 86px;
	padding-left: 16px;
}

#Header #Logo
{
	font-size: 50px;
	height: 50px;
	line-height: 50px;
	padding-right: 15px;
}

#Header #Subtitle
{
	height: 50px;
	line-height: 70px;
	font-size: 30px;
	padding-left: 15px;
}

#imageContent #imageName
{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	padding: 5px;
}

#imageContent #description
{
	font-size: 12px;
	padding: 10px;
	margin-bottom: 10px;
}

#imageContent #related
{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	padding: 5px;
}

#User #Profile
{
	height: 64px;
	width: 64px;
}

#windowArea #loginWindow
{
	width: 100%;
}